@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  /* font-family: 'Roboto Mono', monospace, sans-serif; */
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:-webkit-gradient(linear, 68% 1%, 54% 100%, from(#FFFFFF), to(#BEC0FF));
  text-align:center;
  color:#ddd;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}



.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  bottom:10px;
    /*全体の高さ*/
  height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
  position: absolute;
  left:-15px;
  top: -15px;
    /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
  content: "";
    /*描画位置*/
  position: absolute;
  top: 0;
    /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
  0%{
    height:0;
    top:0;
    opacity: 0;
  }
  30%{
    height:30px;
    opacity: 1;
  }
  100%{
    height:0;
    top:50px;
    opacity: 0;
  }
}



/* ナビゲーション　アニメーション設定 */
/*==================================================
共通　横並びのための設定
===================================*/
.gnavi{
    display: flex;
    margin:0 0 50px 0;
    list-style: none;
}

.gnavi li a{
    display: block;
    padding:10px 10px;
    text-decoration: none;
    color: #fff;
}

/*==================================================
左右から線が伸びて枠線になる
===================================*/

.gnavi li{
    /*線の基点とするためrelativeを指定*/
  position: relative;
    margin:0 10px;
}

/*線の基点位置*/
.gnavi li::before,
.gnavi li::after{
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width: 0;
  height:2px;
  background:#fff;
/*アニメーションの指定*/
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}

.gnavi li::before{
  right: 0;
  top: 0;
}
.gnavi li::after{
  left: 0;
  bottom: 0;
}

/*線の基点位置2 spanタグ*/

.gnavi li span{
  display: block;
}

.gnavi li span::before,
.gnavi li span::after{
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width:2px;
  height:0;
  background: #fff;
/*アニメーションの指定*/
  transition: all 0.2s linear;
}

.gnavi li span::before{
  left: 0;
  top: 0;
}
.gnavi li span::after{
  right: 0;
  bottom: 0;
}

/*現在地とhoverした際の線の変化*/

.gnavi li.current::before,
.gnavi li.current::after,
.gnavi li:hover::before,
.gnavi li:hover::after{
  width: 100%;/*横幅を100%に*/
}

.gnavi li.current span::before,
.gnavi li.current span::after,
.gnavi li:hover span::before,
.gnavi li:hover span::after{
  height: 100%;/*縦幅を100%に*/
}




/* ページトップリンク */
/*スクロールリンクの形状*/
.scroll-top {
  /*表示位置*/
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s; /*それぞれに0.5秒の変化のアニメーション*/
  /*縦書き*/
  -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  /*改行禁止*/
    white-space: nowrap;
  /*矢印の動き*/
  animation: arrowmove 1s ease-in-out infinite;
}

@keyframes arrowmove{
      0%{bottom:20px;}
      50%{bottom:25px;}
     100%{bottom:20px;}
 }


/*.scroll-viewクラスがついたら出現*/
.scroll-top.scroll-view {
  opacity: 1;
  visibility: visible;
}

/*リンク全体の aタグの形状*/
.scroll-top a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-size:0.9rem;
    display: block;
}

/*スクロールリンクの形状*/

.js-scroll a::after{
  content:"";
  position: absolute;
  top:0;
  right:0;
  width:1px;
  height: 50px;
  background:#666;
}

.js-scroll a::before {
    content: "";
    position: absolute;
    top: 30px;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(-31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x), .js-scroll a::before{
  right:-11px;
}

/*ページトップリンクの形状*/

.js-pagetop a::after{
  content:"";
  position: absolute;
  top:0;
  right:0;
  width:1px;
  height: 50px;
  background:#666;
}

.js-pagetop a::before {
    content: "";
    position: absolute;
    top: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background: #666;
    transform: skewX(31deg);
}

/*Edge IE11 hack*/
_:-ms-lang(x), .js-pagetop a::before{
  right:0;
}

/*========= モーダル表示のためのCSS ===============*/
/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
  display: none;
}

/*全て共通：モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before{
  background:#ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
  background:#666;
}

/*確認を促すモーダル：タイトルの色を変更したい場合*/
#modaal-title{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 20px 0;
}

/*動画表示のモーダル：余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper{
  padding:0;
}





/*========= レイアウトのためのCSS ===============*/

/* ヘッダーのレイアウト */
header {
  font-family: 'Roboto Mono', monospace, sans-serif;
}

h1{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color:#eee;
  text-shadow: 0 0 15px #666;
  text-align: center;
}

.header{
  width:100%;
  height: 100vh;
  position: relative;
}

.header:before{
  content: '';
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
  background:url("https://h8-murata.github.io/murata.s-portfolio/bgimg-etc/img3.jpg") no-repeat center;
  background-size:cover;
}

.container{
  position: relative;
  z-index:1;
  background:#eee;
  padding:40px 0 0;
  text-align: center;
}

@media screen and (max-width:768px){
/* .header,.header:before{
  height: 90vh;
} */
}

/* PC画面 */
@media (min-width: 1025px) {

}

/* タブレット画面 */
@media (min-width: 541px) and (max-width: 1024px) {

}

/* スマホ画面 */
@media screen and (max-width: 540px) {

}

/* ナビゲーションメニューのレイアウト */
ul{
  position: fixed;
  top: 63%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* 全セクションのレイアウト*/
.area {
  margin-bottom: 40px;
  font-family: sans-serif;

}

.area h2 {
  margin: 20px 0;
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-size: 28px;
}

/* area-1のレイアウト */


#area-1 p {
  text-align: left;
}

#area-1 span {
  margin-left: 10px;
}

#area-1 h3 {
  font-weight: lighter;
  margin-top: 40px 0 20px 0;
}

#area-1.skill-list p {
  text-align: center;
  justify-content: center;
}

.skill-png {
  display: flex;
  text-align: center;
  justify-content: center;
}

.skill-1 {
  background: no-repeat center/80% url("https://h8-murata.github.io/murata.s-portfolio/bgimg-etc/VBA_logo.png");
  width:150px;
  height:150px;
  margin-right: 30px;
}

.skill-2 {
  background: no-repeat center/80% url("https://h8-murata.github.io/murata.s-portfolio/bgimg-etc/oracleJavaSilver.png");
  width: 150px;
  height: 150px;
}

/* PC画面 */
@media (min-width: 1025px) {
  #area-1 {
    width: 50%;
    margin: 0 auto;

  }
}

/* タブレット画面 */
@media (min-width: 541px) and (max-width: 1024px) {
  #area-1 {
    width: 70%;
    margin: 0 auto;
  }
}

/* スマホ画面 */
@media screen and (max-width: 540px) {
  #area-1 {
    width: 80%;
    margin: 0 auto;
  }
}

/* photo-galleryのレイアウト */
.pic-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

#photo {
  margin: 2px;
}

#photo img {
  width: 225px;
  height: 150px

}

a.gallery {
  display: block;
  height: 150px;
}


#photo a:hover {
  opacity: 0.8;
}

@media (min-width: 1025px) {

}

@media (min-width: 541px) and (max-width: 1024px) {

}

@media screen and (max-width: 540px) {

}

/* area-3のレイアウト */

/* PC画面 */
@media (min-width: 1025px) {

}

/* タブレット画面 */
@media (min-width: 541px) and (max-width: 1024px) {

}

/* スマホ画面 */
@media screen and (max-width: 540px) {
  #area-3 {
    width: 100%;
    margin: 0 auto;
  }
}


/* contactフォームのレイアウト */
.contact {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #ddd;
  text-align: center;
}

.contact span {
  display:  inline-block;
  margin-bottom: 20px;
  font-size: 2.2rem;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background: linear-gradient(-150deg, #eeeeee, #BEC0FF);
  color: #fff;
}


.contact h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.contact a {
  display: block;
  margin: 0;
  padding: 20px;
  text-decoration: none;
  color:#333;
}

.contact a:hover {
  color: #ddd;
  opacity: 0.8;
}

@media (min-width: 1025px) {
  .contact-wrap {
    display: flex;
    justify-content: center;
  }

  .contact {
    width: 300px;
  }

  .contact:first-child {
    margin-right: 20px;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .contact-wrap {
    display: flex;
    justify-content: center;
  }

  .contact {
    width: 300px;
  }

  .contact:first-child {
    margin-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  .contact-wrap {
    display: block;
    margin: 0;
  }

  .contact {
    width: 300px;
    margin: 0 auto;
  }

  .contact:first-child {
    margin-bottom: 10px;
  }
}

/* .contact-form {
  width: 50%;
  margin: 0 auto;
}

.label {
  padding-bottom: 50px;
  font-size: 14px;
}

#name,#email,#text {
  width: 80%;
}

#name,#email {
  height: 25px;
}

#text {
  height: 150px;
}

input,textarea {
  margin-bottom: 10px;
}

input.button {
  padding: 5px 10px;
  border-radius: 3px;
} */

/* フッターのレイアウト */
footer{
  color: #333;
  background: linear-gradient(-165deg, #ffffff, #BEC0FF);
  font-family: 'Roboto Mono', monospace, sans-serif;
}

@media (min-width: 1025px) {
  .foot-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
  }

  .copyright{
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  .foot-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
  }

  .copyright{
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .foot-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  .footA {
    margin: 0 auto;
  }

  .footA h2 {
    font-size: 20px;
  }

  .footB{
    text-align: left;
    margin: 0 auto;
  }
}
